extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="About us", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Scelerisque ornare nisi. Nulla fringilla quam sed blandit fringilla. Maecenas lorem diam, pellentesque sit amet egestas id, sodales a ipsum. Quisque ac facilisis est. Maecenas neque massa, rhoncus a lacus vel, ultricies semper nibh. Vivamus pharetra nibh a euismod malesuada.
                p Curabitur sit amet sapien quis massa varius sodales a eget nunc. Curabitur interdum mollis augue, et vehicula felis sollicitudin in. Nullam id elementum augue, id viverra enim. Nulla volutpat, quam ut elementum feugiat, diam augue consequat elit, vel tempus purus augue ut ligula. Curabitur sagittis orci elit, placerat tempus lacus posuere ut. 
                p Curabitur sit amet sapien quis massa varius sodales a eget nunc. Curabitur interdum mollis augue, et vehicula felis sollicitudin in. Nullam id elementum augue, id viverra enim.
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Security
                    p Integer sollicitudin dignissim dui, sit amet mollis lorem feugiat id. Nullam varius, ex id ullamcorper mollis, sapien erat maximus lorem, et lacinia orci metus a diam.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Top destinations
                    p Integer sollicitudin dignissim dui, sit amet mollis lorem feugiat id. Nullam varius, ex id ullamcorper mollis, sapien erat maximus lorem, et lacinia orci metus a diam.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Prices
                    p Integer sollicitudin dignissim dui, sit amet mollis lorem feugiat id. Nullam varius, ex id ullamcorper mollis, sapien erat maximus lorem, et lacinia orci metus a diam.
