extends ../layout/index
block contenido
    main.container.mt-5
        h1.text-center.mb-5 #{pagina}



        .row  
            .col-md-12
                include ../layout/partials/testimoniales
                


            .col-md-12
                h2.text-center Add a testimonial
                if(errores)
                    each error in errores
                        .alert.alert-danger.text-center=error.mensaje

                .row.justify-content-center
                    .col-md-8
                        form(action='/testimoniales', method="POST")
                            .form-group
                                label(for="nombre") Name 
                                input(id="nombre", class="form-control" type="text", placeholder="Your name", name="nombre")
                            .form-group
                                label(for="correo") Email 
                                input(id="correo", class="form-control", type="text", placeholder="Your Email", name="correo")
                            .form-group
                                label(for="mensaje") Message 
                                textarea#mensaje(class="form-control",name="mensaje", rows="3", placeholder="Your message")
                            input.btn.btn-success.btn-block(type="submit", value="Submit")