extends ../layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em adventure

block contenido
    main.container.mt-5
        h2.text-center.mb-5 About us
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat enim id pellentesque pulvinar. Aenean imperdiet metus ut venenatis pellentesque. Nam et ultricies metus, non ullamcorper massa. Cras facilisis ipsum eget justo molestie.

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat enim id pellentesque pulvinar. Aenean imperdiet metus ut venenatis pellentesque. Nam et ultricies metus, non ullamcorper massa. Cras facilisis ipsum eget justo molestie.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")

        h2.text-center.mb-5 Next Trips
        include ../layout/partials/viajes
        

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% discount
                        p.titulo Trip to Canada
                        p.fecha March 20, 2019 - March 28, 2019
                        p.precio $2,500 USD

    
    .container
        h2.text-center.my-5 Testimonials
        include ../layout/partials/testimoniales
        